http://yt.test {
	basic_auth {
		{$APP_BASIC_AUTH_USER} {$APP_BASIC_AUTH_HASH}
	}

	handle_path /api/* {
		reverse_proxy fetcher:8000 {
			header_up X-App-Token {$APP_API_TOKEN}
		}
	}

	handle_path /whisper/* {
		reverse_proxy whisper:8001 {
			header_up X-App-Token {$APP_API_TOKEN}
		}
	}

	handle {
		reverse_proxy frontend:4321
	}
}

http://suliweb.test {
	redir https://suliweb.test{uri} permanent
}

https://suliweb.test {
	tls /etc/caddy/certs/suliweb.test.pem /etc/caddy/certs/suliweb.test-key.pem

	handle /api/* {
		reverse_proxy suliweb-backend:8080
	}
	handle /find/* {
		reverse_proxy suliweb-backend:8080
	}
	handle /pst/* {
		reverse_proxy suliweb-backend:8080
	}
	handle /pdf/* {
		reverse_proxy suliweb-backend:8080
	}
	handle {
		reverse_proxy suliweb-frontend:80
	}
}
